---
import Hero from "../components/Hero.astro";
import ShowcaseCard from "../components/ShowcaseCard.astro";
import Layout from "../layouts/default.astro";
import Tools from "../components/Tools.svelte";
import { showcaseItems } from "../shared";
---

<Layout>
  <Hero />
  <section
    class="container flex flex-col items-center min-h-screen gap-12 px-4 py-8 mx-auto text-center justify-evenly"
  >
    <div>
      <h2
        class="text-5xl font-bold leading-normal text-transparent bg-gradient-to-br bg-clip-text from-red-500 to-purple-500"
      >
        I make websites
      </h2>
      <p class="text-xl font-medium text-gray-100">
        using modern technologies that look great and feel great
      </p>
    </div>

    <div
      class="relative flex flex-wrap items-center justify-center w-full gap-8"
    >
      {
        showcaseItems.map((item) => {
          return <ShowcaseCard item={item} />;
        })
      }
    </div>
  </section>
  <div class="bg-gray-800">
    <section
      class="container flex flex-col items-center min-h-screen gap-16 justify-center px-4 py-8 mx-auto text-center"
    >
      <div>
        <h2
          class="text-5xl font-bold leading-normal text-transparent bg-gradient-to-br bg-clip-text from-red-500 to-purple-500"
        >
          I use tools
        </h2>
        <p class="text-xl font-medium text-gray-100">
          to build websites that are fast, beautiful and easy to use
        </p>
      </div>

      <Tools client:idle />
    </section>
  </div>
  <section
    class="container flex flex-col items-center min-h-screen gap-16 justify-center px-4 py-8 mx-auto text-center"
  >
    <div>
      <h3
        class="text-5xl font-bold leading-normal text-transparent bg-gradient-to-br bg-clip-text from-red-500 to-purple-500"
      >
        Let's get in touch
      </h3>
      <p class="text-xl font-medium text-gray-100">
        to build websites that are fast, beautiful and easy to use
      </p>
    </div>
    <form
      action="/contact"
      method="post"
      class="flex flex-col gap-6 w-full max-w-lg"
    >
      <input
        type="text"
        name="name"
        placeholder="Name"
        class="px-4 py-2 bg-gray-800 rounded-md"
      />
      <input
        type="email"
        name="email"
        placeholder="Email"
        class="px-4 py-2 bg-gray-800 rounded-md"
      />
      <textarea
        name="message"
        placeholder="Message"
        rows="5"
        class="px-4 py-2 bg-gray-800 rounded-md"></textarea>
      <button
        type="submit"
        class="px-4 py-2 text-white bg-purple-700 transition-all hover:bg-purple-600 active:bg-purple-900 active:scale-95 outline-none focus:ring ring-offset-2 ring-offset-gray-900 ring-indigo-600 rounded-md"
      >
        Send
      </button>
    </form>
  </section>
</Layout>
