---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/default.astro";
---

<Layout>
  <Hero />
  <section class="container h-screen mx-auto">
    <h1>Hello World</h1>
  </section>
  <section class="container h-screen mx-auto"></section>
</Layout>
